
<div class="con1">
  <div class="quesfaq">
    <h5>How do I book an appointment for an emergency?</h5>
      <p>
        a) Call our Customer Care number: 1860 500 7788
        <br><br>b) Or send an SMS/whatsapp to 9701003333
        <br><br>c) Or log on to www.medhub.com and request an appointment
        <br><br>d) Or directly walk in to the hospital
      </p>
  </div>
  <div class="quesfaq">
    <h5>Are all the Doctors available round-the-clock?</h5>
    <p>No, the doctors are available as per pre-determined consultation hours. The relevant information can be checked from askmedhub.com or our Call Centre 1860 500 7788.</p>
  </div>

  <div class="quesfaq">
    <h5>What are the services available in Medhub certified hospitals?</h5>
    <p>Every hospital offer Consultations for infants, children, adolescents, women, men and senior citizens. We also offer Lab Tests, Health Checks, Vaccinations, Dental services and Diabetes care. There is an  Family Doctor at every centre and a treatment room that caters to medical requirements which includes minor procedures.</p>
  </div>
  
    <div class="quesfaq"><h5>Do you have the facility of sample pickup for diagnostics?
    </h5>
      <p>Yes. When you book our  service, a trained phlebotomist visits your home or workplace, as per your choice and collects samples. You can download your reports from our website or the PHR (Patient Health Records) section at https://phr.medhyb.com</p>
    </div>
    <div class="quesfaq"><h5>Is fasting required for my test??
    </h5>
      <p> Fasting for a test requires you to have no food or drink, except water, for 12 hours prior to sample collection. However not all tests require fasting. Please call us on 1860 500 7788 for queries.</p>
    </div>
    <div class="quesfaq"><h5>Will I get a certificate for my vaccine shot?
    </h5>
      <p>Yes we provide you with certificates issued by the government.</p>
    </div>
    <div class="quesfaq"><h5>What are the working hours? Are you open on Sundays?
    </h5>
      <p>To make it convenient for you, your neighbourhood hospitals are open from 8 AM to 8 PM. We work on Sundays also, for more detail please call 1860 500 7788</p>
    </div>
    <div class="quesfaq"><h5>Can emergencies be treated at any hospital?
    </h5>
      <p>The hospital we certify are a primary health care providers and caters to everyday healthcare / medical issues. We have a treatment room where we attend to minor cuts, bruises, sores etc. Our experienced doctors can also stabilise a patient before referring him / her to the nearest  hospital.</p>
    </div>
    <div class="quesfaq"><h5>Do you organise camps?
    </h5>
      <p>Yes, we do organise camps that focus on a single health issue. These camps are held both small areas and at large apartment complexes to make it easy for people from the neighbourhood to attend.</p>
    </div>
    <div class="quesfaq"><h5>Can I get my child over for immunisation?
    </h5>
      <p>Yes, you can visit us for infant and child vaccinations. We also have adult vaccines that safeguard men and women from seasonal diseases such as Flu and other more serious illnesses including cervical cancer. Our vaccines are sourced from the best of brands and are very safe.</p>
    </div>


</div>
