<div>
    <app-navbar></app-navbar>
    <div class="slider">
        <img src="./../../../assets/images/hello.jpg">
        <div class="content">
            <div class="principal">
                <h5>Appoitment Form</h5>
			<p >Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>
<div class="con1">
    <app-clinic-card></app-clinic-card>
    <app-clinic-card></app-clinic-card>
    <app-clinic-card></app-clinic-card>
    <app-clinic-card></app-clinic-card>
    <app-clinic-card></app-clinic-card>
    <app-clinic-card></app-clinic-card>
    <app-clinic-card></app-clinic-card>
    <app-clinic-card></app-clinic-card>
</div>
<app-footer class="footer"></app-footer>