<app-as-navbar></app-as-navbar>
<div class="con1">
    <div class="r1">
        <div class="heading">
            ....Select the Doctor....
        </div>
    </div>
    
    <div class="r2">
        <div class="con2">

            <div class="card" routerLink="/hu-home">
                <div class="image">
                    <img src="./../../../assets/images/user3.jpg">
                </div>
                <div class="name">
                    Dr Rachana Panchal
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="./../../../assets/images/user3.jpg">
                </div>
                <div class="name">
                    Dr Rachana Panchal
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="./../../../assets/images/user3.jpg">
                </div>
                <div class="name">
                    Dr Rachana Panchal
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="./../../../assets/images/user3.jpg">
                </div>
                <div class="name">
                    Dr Rachana Panchal
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="./../../../assets/images/user3.jpg">
                </div>
                <div class="name">
                    Dr Rachana Panchal
                </div>
            </div>

        </div>
    </div>
    <div class="r3">
        <div class="profile">
            <button>Manage Doctors Profiles</button>
        </div>
    </div>
</div>