<div class="con1">
  <form>
    <div class="field">
      <label class="col-sm-2">Name : <span> * </span></label>
      <input id="name" type="text" for="name" required class="col-sm-8" placeholder="Full name">
    </div>
    <div class="field">
      <label class="col-sm-2">Photo : <span> * </span></label>
      <input type="file" id="myFile" name="filename" required class="col-sm-8">
    </div>
    <div class="field">
      <label class="col-sm-2">Age : <span> * </span></label>
        <input id="age" type="number" name="age" required class="col-sm-6">
    
      <label class="col-sm-2">Gender : <span> * </span></label>
      <select class="col-sm-6">
        <option selected>Choose Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="field">
      <label class="col-sm-2">Date Of Birth : <span> * </span></label>
      <input id="dob" type="date" name="dob" required class="col=sm-8">
    </div>
  </form>
</div>


<div class="testbox">
    <form>
      <div class="item">
        <label for="dob">Date Of Birth<span>*</span></label>
        <input id="dob" type="date" name="dob" required/>
      </div>
      <div class="item">
        <label for="contact1">Primary Contact no<span>*</span></label>
        <input id="contact1" type="tel" name="contact1" required/>
      </div>
      <div class="item">
        <label for="contact2">Secondary Contact no<span>*</span></label>
        <input id="contact2" type="tel" name="contact2" required/>
      </div>
      <div class="item">
        <label for="email1">Primary Email Address<span>*</span></label>
        <input id="email1" type="email" name="email1" required/>
      </div>
      <div class="item">
        <label for="email2">Secondary Email Address<span>*</span></label>
        <input id="email2" type="email" name="email2" required/>
      </div>
      <div class="item">
        <label for="address">Address<span>*</span></label>
        <textarea id="address" rows="3"></textarea>
      </div>
      
        <div class="item">
          <p>Speciality</p>
          <select style="width: 200px; height: 30px;">
            <option value="Nothing" selected > Your choice</option>
            <option value="allergy" >ALLERGY AND IMMUNOLOGY</option>
            <option value="anest">ANESTHESIOLOGY</option>
            <option value="derm">DERMATOLOGY</option>
            <option value="diag">DIAGNOSTIC RADIOLOGY</option>
            <option value="emerg"> EMERGENCY MEDICINE</option>
            <option value="fam">FAMILY MEDICINE</option>
            <option value="int">INTERNAL MEDICINE</option>
            <option value="gen">MEDICAL GENETICS</option>
            <option value="neuro">NEUROLOGY</option>
            <option value="necuclear">NUCLEAR MEDICINE</option>
            <option value="surgery">SURGERY</option>
            <option value="psyc">PSYCHIATRY</option>
            <option value="uro">UROLOGY</option>
          </select>
        </div>
     <p>Qualification info:</p>   
      <div class="flax">
        <div class="item">
          <label for="regno">Registration number<span>*</span></label>
          <input id="reg no" type="text" name="regno" style="width: 200px; height: 30px;" required/>
        </div>
        <div class="item">
          <label for="dor">Date of Reg.<span>*</span></label>
          <input id="dor" type="date" name="dor" style="width: 200px; height: 30px;" required/>
        </div>
      </div>
      <div class="flax">
        <div class="item">
          <label for="qual">Qualification<span>*</span></label>
          <input id="qual" type="text" name="qual" style="width: 200px; height: 30px;" required/>
        </div>
        <div class="item">
          <label for="yr">Year of Reg.<span>*</span></label>
          <input id="yr" type="text" name="yr" style="width: 200px; height: 30px;" required/>
        </div>
      </div>
      <div class="flax">
        <div class="item">
          <label for="univ">University Name<span>*</span></label>
          <input id="univ" type="text" name="univ" style="width: 200px; height: 30px;" required/>
        </div>
        <div class="item">
          <label for="counsil">State Medical Council<span>*</span></label>
          <select style="width: 200px; height: 30px;">
            <option selected value="" disabled selected></option>
            <option value="8A" >Andhra Pradesh Medical Council</option>
            <option value="9A">Arunachal Pradesh Medical Council</option>
            <option value="10A">Assam Medical Council</option>
            <option value="11A">Bihar Medical Council</option>
            <option value="12P">Chattisgarh Medical Council</option>
            <option value="1P">Delhi Medical Council</option>
            <option value="2P">Goa Medical Council</option>
            <option value="3P">Gujarat Medical Council</option>
            <option value="4P">Haryana Medical Council</option>
            <option value="5P">Himanchal Pradesh Medical Council</option>
            <option value="6P">Jammu & Kashmir Medical Council</option>
            <option value="7P">Jharkhand Medical Council</option>
            <option value="8P">Karnataka Medical Council</option>
            <option value="8P">Madhya Pradesh Medical Council</option>
            <option value="8P">Maharashtra Medical Council</option>
            <option value="8P">Manipur Medical Council</option>
            <option value="8P">Mizoram Medical Council</option>
            <option value="8P">Nagaland Medical Council</option>
            <option value="8P">Orissa Council of Medical Registration</option>
            <option value="8P">Punjab Medical Council</option>
            <option value="8P">Rajasthan Medical Council</option>
            <option value="8P">Sikkim Medical Council</option>
            <option value="8P">Tamil Nadu Medical Council</option>
            <option value="8P">Telangana State Medical Council</option>
            <option value="8P">Travancore Cochin Medical Council, Trivandrum</option>
            <option value="8P">Tripura State Medical Council</option>
            <option value="8P">Uttarakhand Medical Council</option>
            <option value="8P">Uttar Pradesh Medical Council</option>
            <option value="8P">West Bengal Medical Council</option>
            
            
          </select>
        </div>
      </div>
      <p>Working Hours:</p>
      <div class="flax">
        <div class="item">
          <p>Start Time</p>
          <select style="width: 200px; height: 30px;">
            <option selected value="" disabled selected></option>
            <option value="8A" >8 AM</option>
            <option value="9A">9 AM</option>
            <option value="10A">10 AM</option>
            <option value="11A">11 Am</option>
            <option value="12P">12 Pm</option>
            <option value="1P">1 Pm</option>
            <option value="2P">2 Pm</option>
            <option value="3P">3 Pm</option>
            <option value="4P">4 Pm</option>
            <option value="5P">5 Pm</option>
            <option value="6P">6 Pm</option>
            <option value="7P">7 Pm</option>
            <option value="8P">8 Pm</option>
          </select>
        </div>
        <div class="item">
          <p>End Time</p>
          <select style="width: 200px; height: 30px;">
            <option selected value="" disabled selected></option>
            <option value="8A" >8 AM</option>
            <option value="9A">9 AM</option>
            <option value="10A">10 AM</option>
            <option value="11A">11 Am</option>
            <option value="12P">12 Pm</option>
            <option value="1P">1 Pm</option>
            <option value="2P">2 Pm</option>
            <option value="3P">3 Pm</option>
            <option value="4P">4 Pm</option>
            <option value="5P">5 Pm</option>
            <option value="6P">6 Pm</option>
            <option value="7P">7 Pm</option>
            <option value="8P">8 Pm</option>
          </select>
        </div>
      </div>
      
      <br>
      <div class="btn-block">
        <button type="submit" href="/">SUBMIT</button>
      </div>
    </form>
  </div>
