<div class="faq">
    <div>
        <app-navbar></app-navbar>
        <div class="slider">
            <img src="./../../../assets/images/hello.jpg">
            <div class="content">
                <div class="principal">
                    <h5>FAQ's</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, ab!</p>
                </div>
            </div>
        </div>
    </div>
        <div class="ques">
            <app-faq-ques></app-faq-ques>
        </div>
    
</div>
<app-footer class="footer"></app-footer>