
<div>
    <app-navbar></app-navbar>
    <div class="slider">
        <img src="./../../../assets/images/hello.jpg">
        <div class="content">
            <div class="principal">
                <h5>Diseases</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, ab!</p>
            </div>
        </div>
    </div>
</div>
<div class="con1">
    <div class="search">
        <input type="text" for="search" placeholder="Search...">
        <button class="btn">Search</button>
    </div>
    <app-diseases-card></app-diseases-card>
    <app-diseases-card></app-diseases-card>
    <app-diseases-card></app-diseases-card>
</div>
<app-footer class="footer"></app-footer>