<div class="con1">
    <div class="card">
        <div class="menu">
                <a href="#" routerLink="/hospitaluser/hu-doc-list">Doctors</a>
                <a href="#" routerLink="/hospitaluser/hu-app-list">Appointments</a>
                <a href="#" routerLink="/hospitaluser/hu-detail-form">Details</a>
                <a href="#" routerLink="/hospitaluser/hu-contact-form">Contact</a>
                <a href="#" routerLink="/hospitaluser/hu-profile">profile</a>
        </div>
    </div>
</div>