<div class="con1">
    <div class="card">
        <div class="col" id="row">
                <img src="./../../../assets/images/user1.jpg">
                <div class="details">
                    <p>DISHANT NAIK</p>
                    <p>Neurologist</p>
                    <p>10 Yrs</p>
                </div>
        </div>
        <div class="col" id="time">
            <p>Start: 10 A.M.<br>End: 5 P.M.</p>
        </div>
        <div class="col1">
            <button id="btn1">Edit</button><br>
            <button id="btn2">Delete</button>
        </div>
    </div>
</div>