<mat-tab-group mat-align-tabs="end">
    <mat-tab label="ADD New">
        <app-hu-doctor-form></app-hu-doctor-form>
    </mat-tab>
    <mat-tab label="Pending">
        <app-hu-doctor-item></app-hu-doctor-item>
        <app-hu-doctor-item></app-hu-doctor-item>
        <app-hu-doctor-item></app-hu-doctor-item>
    </mat-tab>
    <mat-tab label="Accepted"> 
        <app-hu-doctor-item></app-hu-doctor-item>
        <app-hu-doctor-item></app-hu-doctor-item>
    </mat-tab>
    <mat-tab label="Declined">
        <app-hu-doctor-item></app-hu-doctor-item>
    </mat-tab>
    
  </mat-tab-group>
  